.tile {
    border: 1px solid black;
    transition: ease-out 1s;
}
.tile:hover{
    background-color: gray;
    transition: ease-in 0s;
}
.board {
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);
}