html {
    background-color: rgb(38, 38, 38);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    border: 1px solid rgb(124, 124, 124);
}

.board {
    display: grid;
    height: 650px;
    width: 650px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 650px;

}

.option-button {
    flex: 1;
    height: 75px;
    font-size: 20px;
    border-radius: 6px;
    height: 48px;
    padding: 0 10px;
    font-size: 18px;
}

.option-button + .option-button {
    margin-left: 10px;
}

.painted {
    background-color: #d99d2b;
    overflow: hidden;
}

.flowing {
    background-color: #d99d2b;
    overflow: hidden;
    transition: 1.5s;
}

.fade-out {
    transition: 1.5s;
}